@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ApplicantWeb.App_LocalResources.Account.Error;
}

<h1 class="text-danger">@ApplicantWeb.App_LocalResources.Account.Error</h1>
<h2 class="text-danger">@ApplicantWeb.App_LocalResources.Account.QueryErrorMessage</h2>

