@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ApplicantWeb.App_LocalResources.Account.Locked;
}

<hgroup>
    <h1 class="text-danger">@ApplicantWeb.App_LocalResources.Account.Locked</h1>
    <h2 class="text-danger">@ApplicantWeb.App_LocalResources.Account.LockedAccountMessage</h2>
</hgroup>
