@model Applicant.Models.Applicant
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<table id="listHistories" class="table table-bordered table-hover " cellspacing="0">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Тип</th>
            <th>Коментарии</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#listHistories').DataTable({
            "ajax": "/../../Histories/List/"+@Model.ApplicantId,
            "columns": [
                { "data": "Дата" },
                { "data": "Тип" },
                { "data": "Коментарии" }
            ]
        });
        $('#listAttachments tbody').on('click', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else {
                table.$('tr.info').removeClass('info');
                $(this).addClass('info');
            }
        });
    });
</script>
   <script>
       function delHis(id) {
           $.ajax({
               url: "/Histories/Delete/",
               data: "id=" + id,
               success: function (html) {
                   $("#myModal").empty();
                   $("#myModal").append(html);
               }
           });
       }
</script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
