@model Applicant.Models.Language
@using (Html.BeginForm("ChangeLanguage", "Languages", new { @class = "" }))
{
    <p>Язык  @Html.EnumDropDownListFor(model => model.CurrentLang, htmlAttributes: new { @class = "form-control short" })
    </p>
}
