@model IEnumerable<Applicant.Models.Tag>
@Styles.Render("/Content/bootstrap-tags")
@Styles.Render("~/Content/css")

<div class="container" style=" padding:0; margin-bottom:5px; max-width:758px;">
    <div id="applicantsTags"></div>

    <script>
        function TagsFromBase() {
            var TagsList = new Array(@Model.Count()).join('ля');

             return TagsList;
        };

        $(function () {
            $("#applicantsTags").tags({
                tagSize: "md",
                suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
                tagData: TagsFromBase()
            })
        });
    </script>
    @foreach (var item in Model)
    {@item.TagName}
</div>

<div>
    <div id="readonly" class="bootstrap-tags bootstrap-3">


    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>