@model IEnumerable<Applicant.Models.Tag>
<div class="container" style=" padding:0px; margin-bottom:5px;">
    <div id="readonly" class="bootstrap-tags bootstrap-3">
        @foreach (var item in Model)
        {
            using (Ajax.BeginForm("Delete", "Tags", new { id = item.TagId, applicantId = ViewBag.ApplicantId }, new AjaxOptions
            {
                HttpMethod = "Get",
                UpdateTargetId = "myModal"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="tag label btn btn-info md" style="margin:3px;">
                    <span>
                        @Html.DisplayFor(modelItem => item.TagName)
                    </span>
                    <input type="submit" value="X" style="opacity:0.6; color:white; Background:none; border:none;" data-toggle="modal" data-target="#myModal" />
                </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>