@model Applicant.Models.Tag

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Ajax.BeginForm("Delete", "Tags", new { id = Model.TagId, applicantId = ViewBag.ApplicantId }, new AjaxOptions { UpdateTargetId = "tags" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body pager">
                <h3>Вы уверены что ходите удалить тег @Html.DisplayFor(modelItem => Model.TagName)?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" aria-label="Close">Отмена</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" aria-label="Close">Удалить</button>
            </div>
        }
    </div>
</div>