@model IEnumerable<Applicant.Models.Tag>
<link href="~/Content/bootstrap-tags.css" rel="stylesheet" />
<p>Small</p>
<div id="small"></div>
<p>Large</p>
<div id="large"></div>
<p>Medium</p>
<div id="medium"></div>
<p>maxNumTags = 3</p>
<div id="maxNumTags"></div>
<p>suggestOnClick</p>
<div id="suggestOnClick"></div>
<p>caseInsensitive</p>
<div id="caseInsensitive"></div>
<p>readOnly</p>
<div id="readOnly"></div>


<script src="~/Scripts/bootstrap-tags.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-tags.min.js"></script>
<script>
    $(function () {
        $("#small").tags({
            tagSize: "sm",
            suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            tagData: ["juliett", "kilo"]
        });
        $("#large").tags({
            tagSize: "lg",
            suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            tagData: ["juliett", "kilo"]
        });
        $("#medium").tags({
            suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            tagData: ["juliett", "kilo"]
        });
        $("#readOnly").tags({
            readOnly: true,
            tagData: ["juliett", "kilo"]
        });
        $("#suggestOnClick").tags({
            restrictTo: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            promptText: "Click here to add new tags",
            suggestOnClick: true
        });
        $("#caseInsensitive").tags({
            suggestions: ["Alpha", "Bravo", "Charlie", "Delta", "Echo", "Foxtrot", "Golf", "Hotel", "India"],
            tagData: ["india", "juliett"],
            caseInsensitive: true
        });
        $("#maxNumTags").tags({
            suggestions: ["alpha", "bravo", "charlie", "delta", "echo", "foxtrot", "golf", "hotel", "india"],
            tagData: ["alpha", "bravo", "charlie"],
            maxNumTags: 3
        });
    });
</script>
