@model Applicant.Models.Tag
@using (Ajax.BeginForm("Create", "Tags", new { id = ViewBag.ApplicantID }, new AjaxOptions
{
    UpdateTargetId = "tags"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            <div class=" col-md-10">
                <input type="submit" value="Create" onclick="clearInputField('TagName')"  />
            </div>
        </div>
    </div>
}
<script>
    function clearInputField(Id) {
        document.getElementById(Id).innerHTML = document.getElementById(Id).innerHTML;
    }
</script>