html{
    
   
}
body {
    background: #F8F8FF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}
.noresizehorizontal{
    resize:vertical;
}
.short{
    max-width:500px;
}

.pl {
  position: absolute;
  
  width: 100%;
  height: 100%;
}

 .pl_r{
  position: absolute;
  background: #345;
  width: 51%;
  height: 100%;
  z-index: 1090;
  -webkit-transition: 0.3s 0.4s;
  -o-transition: 0.3s 0.3s;
  transition: 0.3s 0.4s;
}

.pl_l{
  position: absolute;
  background: #345;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1500;
  left: 0;
  -webkit-transition: opacity 0.5s ease;

}

.pl_r{
  right: 0;

}

.loaded .pl_l{
  opacity: 0; 
  z-index: 0; 
  /*transform: translate(-100%);*/
}

.loaded .pl_r{
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}

.loaded .round1{
  opacity: 0;
  z-index: 0; 
}

.round1, .round1:before, .round1:after{
  border: 4px solid transparent;
  border-radius: 50%;
}

.round1{
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  position: absolute;
  border-top-color: #fff;
  -webkit-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
  z-index: 1501;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.round1:before, .round1:after{
  content: '';
  position: absolute;
}

.round1:before{
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #aaa;
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear;
}

.round1:after{
  top: 23px;
  left: 23px;
  right: 23px;
  bottom: 23px;
  border-top-color: #777;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}



.parent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.block {

}


@-webkit-keyframes spin {
  from { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
