@model IEnumerable<Applicant.Models.Attachment>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
               @*нет контроллёра download*@ 
                <a class="btn btn-default btn-md" href="@Url.Action("Download", new { id = item.AttachmentId }))">
                    <i class="glyphicon glyphicon-download"></i>
                    Загрузить
                </a>
                <a class="btn btn-default btn-md" href="@Url.Action("Delete", new { id = item.AttachmentId }))">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                    Удалить
                </a>
            </td>
        </tr>
    }
    </table>