@model IEnumerable<Applicant.Models.Applicant>

@{
    ViewBag.Title = "Index";
}

<h2>Соискатели</h2>

<a class="btn btn-primary btn-md" href="@Url.Action("Create")">
    <i class="glyphicon glyphicon-plus"></i>
    Добавить
</a>


@Html.Partial("~/Views/Applicants/PartialPage.cshtml", new Applicant.Page(Model))
