

@{
    ViewBag.Title = "Соискатели";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<div class="row" style="margin-top:20px">
    <div class="col-md-7">
        <header class="form-group">
            <h2>
                Соискатели
                <a class=" btn btn-success btn-sm " href="@Url.Action("Create")">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </h2>
        </header>
        </div>
</div>

<table id="listTable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Город</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Город</th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#listTable').DataTable({
            "ajax": "Applicants/List",
            "columns": [
                { "data": "Фамилия" },
                { "data": "Имя" },
                { "data": "Отчество" },
                { "data": "Возраст" },
                { "data": "Город" }
            ]
        });
    });
</script>