@model ApplicantWeb.Models.Applicant
  <div class="box-header">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Собеседования</h4>
        </div>
        <div class="media-right media-middle">
            <h5 id="createHistory" class="btn btn-success btn-sm media-object" style="margin:0px;" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <span id="iconCreateHistory" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </h5>
        </div>
    </div>
</div>
<div class="box-body">
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            @Html.Partial("~/Views/Histories/PartialCreate.cshtml", new ApplicantWeb.Models.HistoryCreate() { ApplicantId = Model.ApplicantId })
        </div>
    </div>
    <div id="tableHistories">
        @Html.Action("PartialList", "Histories", new { applicantId = Model.ApplicantId })
    </div>
</div>