@model ApplicantWeb.Models.Applicant
<div class="box-header">
    <h4 class="media-heading">
        @ApplicantWeb.App_LocalResources.History.Histories
        <button id="createHistory" class="btn btn-success btn-sm pull-right" data-toggle="collapse" title=@ApplicantWeb.App_LocalResources.History.AddNew data-parent="#accordion" href="#collapse1">
            <span id="iconCreateHistory" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </h4>
</div>
<div class="box-body">
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            @Html.Partial("~/Views/Histories/PartialCreate.cshtml", new ApplicantWeb.Models.HistoryCreate() { ApplicantId = Model.ApplicantId })
        </div>
    </div>
    <div id="tableHistories">
        @Html.Action("PartialList", "Histories", new { applicantId = Model.ApplicantId })
    </div>
</div>