@model Applicant.Models.Applicant
<div class="row">
    <div class="col-md-9" id="tags" style="margin-bottom:10px;">
        @Html.Partial("~/Views/Tags/PartialList.cshtml", new Applicant.Models.TagList() { ApplicantId = Model.ApplicantId, Tags = Model.Tags })
    </div>
    <div class="col-md-3" style="margin-bottom:10px;">
        @Html.Partial("~/Views/Tags/PartialCreate.cshtml", new Applicant.Models.TagCreate() { ApplicantId = Model.ApplicantId })
    </div>
</div>