@model ApplicantClassLibrary.Page
@if (Model.Search != "")
{
    <p>По запросу "@Model.Search" найдено</p>
}
<div id="list">
    @Html.Action("List", new { page = Model })
</div>
<ul class="pagination">
    @for (int i = 1; i < Model.CountPages+1; i++)
    {
        if (@i == Model.NowPage) { 
            <li class="active"><a onclick="toPage(@i)">@i <span class=" sr-only">(current)</span></a></li>
        }
        else
        {
            <li ><a onclick="toPage(@i)">@i <span class="sr-only">(current)</span></a></li>
        }
    }
</ul>