@model Applicant.Page
<div id="list">
    @Html.Action("List", new {page=Model.NowPage, countElements=Model.CountElementsInPage,pole="", search="" });
</div>
<ul class="pagination">
    @for (int i = 1; i < Model.CountPages+1; i++)
    {
        if (@i == Model.NowPage) { 
            <li class="active"><a onclick="toPage(@i)">@i <span class=" sr-only">(current)</span></a></li>
        }
        else
        {
            <li ><a onclick="toPage(@i)">@i <span class="sr-only">(current)</span></a></li>
        }
    }
</ul>