@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>
    <a href="mailto:annserba94@gmail.com">Серба Анна</a><br />
    <strong>Support:</strong>
    <a href="mailto:ixus.van.axel@gmail.com">Малиновский Александр</a>
</address>