@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicant</h1>
    @Html.ActionLink("Перейти в Applicants", "Index", "Applicants")
    @Html.ActionLink("Перейти в Attachments", "Index", "Attachments")
    @Html.ActionLink("Перейти в Histories", "Index", "Histories")
</div>

